.keyword {
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  background-color: gray; */
  /* height: 50vh; */

  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #a3c2c2!important;
  color: white!important;
  text-align: center!important;
}

.keywordInput {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #a3c2c2;
  border-radius: 25px;
  float: left;
  width: 80%;
  padding-left: 25px;
  background: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  border-right: 1px solid #5c8a8a;
  outline: 0;
}

.keywordBtn {
  border-radius: 25px;
  float: left;
  width: 20%;
  padding: 10px;
  background: #5c8a8a;
  color: white;
  font-size: 17px;
  border: 1px solid #b3cccc;
  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dataVis {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.pieChart {
  margin-left: 150px;
}

